#!/bin/sh

set -e

# We need debconf.
. /usr/share/debconf/confmodule

if [ -n "$AIDEDEBUG" ]; then
  echo "now debugging $0 $@"
  set -x
fi

db_input medium aide/aideinit || true
db_go
db_get aide/aideinit
if [ "$RET" = "true" ]; then
    if [ -f "/var/lib/aide/aide.db.new" ]; then
        db_input medium aideinit/overwritenew || true
        db_go
        db_get aideinit/overwritenew
    else
        RET="true"
    fi
    if [ "$RET" = "true" ]; then
        db_input high aideinit/copynew || true
        db_go
    fi
fi
